.page {
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}
/* Шапка*/
.header {
  padding-block-start: 100px;
  padding-block-end: 100px;
  font-family: "PressStart2P", fantasy;
  font-weight: 700;
}

.card_zone {
  background-color: var(--card-color);
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
}

.header__white_zone {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem); /*375-700*/
  flex-direction: column;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem); /*120-136*/
  padding-block-end: 20px;
}

.logo { 
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /*49-65*/
  text-decoration: none;
}

.header__tittle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /*14-23*/
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 104px;
  padding-inline-start: 24px;
}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: currentColor;
  inline-size: 0;
  transition: inline-size 0.3s ease;
  block-size: 2px;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}


.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -16px;
}
/* Контент*/
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem); /*375-700*/
  border: 2px solid var(--accent-color);
  background-color: var(--card-color);
}

.section__tittle { 
  font-variation-settings: var(--weight-tittle), 700;
  font-size: 18px;
  padding: 5px 10px;
}

.block_image {
  position: relative;
}

.label {
  position: absolute;
  z-index: 1;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem); ; /*13-25*/
  inset-block-start: 25px;
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:  0 0 1px 1px var(--shadow-label);
}

@supports((text-stroke: 1px #FFFFFF) or (-webkit-text-stroke: 1px #FFFFFF)) {
  .label {
    -webkit-text-stroke: 1px var(--shadow-label);
    text-stroke: 1px var(--shadow-label);
    text-shadow: none;
  }
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 375px;
  object-fit: cover;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.section__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.section__text p {
  line-height: 117%; 
  font-size: 18px;
  padding-inline-end: 15px;
}

.like {
  display: flex;
  justify-content: end;
  padding: 0 25px 25px;
  gap: 6px;
}
/*сердце*/
.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  transition: border 0.3s ease;
  transition: fill 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  align-self: center;
  inline-size: 27px;
  block-size: 24px;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  width: 130px;
  border: 2px solid var(--accent-color);
  background: transparent;
  padding: 10px 0;
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color)
}

.card__like-button::after,
.footer__button::after {
  content: "";
  display: block;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: currentColor;
  inline-size: 0;
  transition: inline-size 0.5s ease-in-out;
  block-size: 100%;
}

.card__like-button:hover::after,
.footer__button:hover::after { 
  inline-size: 100%;
}

.card__like-button:hover .button__text,
.footer__button:hover .button__text{
  color: var(--like-color);
  position: relative;
  z-index: 5;
  mix-blend-mode: difference;
}

.footer__button:hover .footer__icon-button {
  stroke: var(--like-color); 
  position: relative;
  z-index: 6;
  mix-blend-mode: difference;
}

.quote {
  font-style: italic;
  font-size: 18px;
}

/*подвал - кнопка*/
.footer {
  padding-block-start: 50px;
  padding-block-end: 100px;  
}

.footer__button {
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem); /*306-335*/
  flex-direction: column;
  padding: 15px 15px;
  gap: 10px;
  position: relative;
}

.footer__icon-button {
  inline-size: 28px; 
}

.footer__text {
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}
/*Диалог*/
.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  transition: opacity;
}
.dialog {
  background-color: var(--card-color);
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);/*341-357*/
  flex-direction: column;
  padding: 30px 40px;
  color: var(--accent-color);
  gap: 30px;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s linear;
}

.dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog__massage {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  flex-shrink: 0;
  inline-size: 39px;
}

.dialog__text {
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.form__dialog__button {
  inline-size: 100%;
}

.dialog__button {
  inline-size: 100%;
  padding: 9px 17px;
}

.dialog__button__text {
  line-height: 90%;
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .footer__button {
    flex-direction: row;
  }

  .footer__icon-button {
    inline-size: 21px;   
  }

  .dialog {
    padding: 30px;
  }
}
/*Фильтры*/
.filter_sprout {
  filter: brightness(70%) contrast(150%);
}

.filter_mistake {
  filter: brightness(70%) blur(1.2px) contrast(130%);
}

.filter_mountain {
	filter: brightness(70%) contrast(200%);
}

.filter_team {
  filter: brightness(70%) sepia(100%) contrast(250%);
}

.filter_battery {
  filter: brightness(70%) hue-rotate(245deg) saturate(300%);
}

.filter_time-management {
  filter: brightness(70%) grayscale(70%);
}

.filter_way {
  filter: brightness(70%);
}