:root {
    --accent-color: #000;
    --border-color: var(--accent-color);
    --svg-color: var(--accent-color);
    --weight-tittle: "wght" 700;
    --weight-text: "wght" 400;
    --card-color:#fff;
    --bg-image: repeating-linear-gradient(90deg,
      #d3d3d3 0px 2px,
      #d3d3d300 2px 4px),
      repeating-linear-gradient(
      #d3d3d3 0px 2px,
      #d3d3d300 2px 4px),
      linear-gradient(
      #e7e7e7 0.01%, 
      #1a1a1a);
    --shadow-label: #FFFFFF;
    --like-color: #fff;
    --heart-contour: var(--accent-color);
    --heart-sparks: #FF0000;
  }

  /*Ещё меняются цвета анимированных элементов и паттерны фона*/